<%= will_paginate @trs, :remote => true %>
<table width=100% class="gtable">
<thead>
	<tr>
		<th></th>
		<th>code</th>
		<th>summary</th> 
		<th>indoc</th>
		<th>outdoc</th>	 
		<th>eventbegin</th> 
		<th>sposobizmer</th> 
		<th>departament</th>
		<th>params</th>
		<th>termop</th>
		<th>revision</th>
		<th>revdate</th>		
	</tr>
</thead>
<tbody>
	<% @trs.each { |f|  %>
		<tr>
			<td class="tr_check"><%= radio_button_tag 'tr_id', f.id %></td>
			<td><%= f.tr_code(f.id) %></td>
			<td><%= f.summary %></td>
			<td><%= f.indoc %></td>
			<td><%= f.outdoc %></td>	 
			<td><%= f.eventbegin %></td>
			<td><%= f.sposobizmer %></td>
			<td><%= f.departament %></td>
			<td><%= f.params %></td>			
			<td><%= f.termop %></td>
			<td><%= f.revision %></td>
			<td><%= f.revdate %></td>
		</tr>
	<% } %>
	</tbody>
</table>